.header {
    display: flex;
    justify-content: space-between;
    background-color:  #1B4D3E;
}
.links {
    display:flex;
    text-decoration: none;
    list-style-type: none;
    gap: 5px;
    padding-right: 10px;
    align-items: center;
    color: white;
}
.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
}
.presentation {
    display:flex;
    justify-content: center;
    padding: 59px;
    color: rgb(255, 255, 255);
    gap: 15px;
    background-color: #03C03C;
}
.rana1 {
    display: flex;
    height: 300px;
    width: 500px;
    border-radius: 15%;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    flex-shrink: 2;
}


h1 {
    display:flex;
    justify-content: center;
    font-style: italic;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 60px;
}

p {  
    padding:0 20%; 
    font-family: 'Mouse Memoirs', sans-serif;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
}

button {
  margin: 0 40%;
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:disabled {
  cursor: default;
  opacity: .3;
}

.button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
    
.card {
    justify-self: center;
    width: 150px;
    height: 130px;
    border-radius: 10%;
}

.cuadraditos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #008B8B;
    padding-bottom:30px;
}

.cuadradito {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10%;
    padding: 10px;
    width: 200px;
    background-color: #66FF00;
    
}

.description {
    width: 150px;
    text-align: justify;
}

.info {
    padding: 25px 25%;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    display: flex ;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    margin: 0;
}

.quotes {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    width: 80%;
    list-style:square;
    padding: 25px;
    padding-right: 50px;
}
.fourth-div {
    display: flex;
    justify-content: center;
    background-color: #00FA9A;
}   
 .kermit {
    width: 25%;
    height: auto;
    padding: 15px;
    border-radius: 10%;
 }   
.quote {
    text-align: right;
    font-weight: bold;
    list-style: none;
    padding-right: 10px;
}
.group {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color:#008B8B ;
    justify-content: center;
    align-content: center;
    
}

.rectangle {
    margin: 40px 20%;
    background-color:#66FF00;
    padding:5px;
    gap: 5px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 200;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 20px;
}

.footer {
    display: flex;
    background-color:  #1B4D3E;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
a:link {
    color:green;
    text-decoration: none;
}
 
 
 
 
 
 
 reclamo netflix 20163107
    pronto pago 20163109
    n 617050481
    139157763