body {
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-between;
}
ul {
    display:flex;
    text-decoration: none;
    list-style-type: none;
    gap: 5px;
}
.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
}
.presentation {
    display:flex;
    justify-content: center;
    padding: 59px;
    color: rgb(255, 255, 255);
    gap: 15px;
}
.rana1 {
    height: 300px;
    width: 500px;
    border-radius: 15%;
}
h1 {
    display:flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: center;
    padding:0 20%;
    flex-wrap: wrap;
}
button {
    display: flex;
    justify-content: center;
    margin: 0 40%;
}